<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>59411236446-do76emmddug4ud1663cg7jeip702so1a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.59411236446-do76emmddug4ud1663cg7jeip702so1a</string>
	<key>API_KEY</key>
	<string>AIzaSyBc5NgutEod-nWW2URYAlxDgAfTmHXYRyc</string>
	<key>GCM_SENDER_ID</key>
	<string>59411236446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shaiws.knisat</string>
	<key>PROJECT_ID</key>
	<string>knisatshabbat</string>
	<key>STORAGE_BUCKET</key>
	<string>knisatshabbat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59411236446:ios:b02eb932d594f8a015d6cf</string>
</dict>
</plist>